@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  /* display: flex;
  flex-direction: column; */
  min-height: 100%;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
}

.main-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.button {
  font-family: "PT Sans", sans-serif;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
}

.logo-city {
  width: 140px;
  margin-left: 70px;
}

header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 480px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-pic {
  display: block;
  margin: 0 auto;
}

.view-mountain-pic {
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.view-mountain {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.reasons {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  width: 1200px;
  text-align: center;
  list-style: none;
}

.advantages-item {
  display: flex;
  width: 1200px;
}

.features-1 {
  display: flex;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.index-columns {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.advantage-city-pic {
  width: 800px;
  height: 384px;
  display: block;
}

.advantage-bridge {
  display: block;
  width: 800px;
  height: 384px;
}

.advantages-form {
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;

}

.main-footer a {
  color: #000000;
}

.footer-contacts {
  width: 50px;
  margin-right: 250px;
  text-align: center;
}

.contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts-wrap {
  max-width: 115px;
  margin-left: auto;
}


.breadcrumbs {
  color: #ffffff;

}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.catalog-filter-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.cost-scan-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-clear {
  color: #000000;
  background-color: #ffffff;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 72px;
}

.button-cards {
  color: #000000;
  background-color: #ffffff;
}

.card-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-card {
  background-color: #ffffff;
  width: 340px;
  list-style: none;
  margin: 0;
  padding: 20px 207px;
}

.product-list {
  display: flex;
  width: 1200px;
  height: 1212px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-price {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 360px;
  background-color: #F2F2F2;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  background-color: #000000;
}

.control-input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: #000000;
}

.navigation-link-login {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advatage-number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.main-description {
  color: #ffffff;
}

.features-bridge {
  display: flex;
  flex-direction: row-reverse;
}

.main-advantages {
  color: #ffffff;
  background: #82B3D3;
}

.color-gradient-12 {
  background-color: #83B3D31F;

}

.color-gradient-20 {
  background-color: rgba(131, 179, 211, 0.2);
}

.question {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.date-of-travel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.mailing-message {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.field {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.sorting-find {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-hotels-wrap {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.inner-header {
  background-image: url(../images/catalog-background\ 1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.raiting-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.background-subscribe-pic {
  width: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
